<a href="https://colab.research.google.com/github/shrutirawat24/Data-Types-Structures/blob/main/Assignment2(Data_Types_%26_Structures).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#ASSIGNMENT2(Data Types & Structures)

#Theory question-answers

Q1 What are data structures, and why are they important?

Ans A data structure is a collection of data values and the relationships between them. Data structures allow programs to store and process data effectively. There are many different data structures, each with its own advantages and disadvantages. Some of the most common data structures are arrays, lists, trees, and graphs.

They are important as:

1.Choosing the right data structure significantly impacts how quickly your program can access and process information.

2.Data structures help optimize memory usage, preventing wasted space and improving program efficiency.

3.Well-defined data structures can be reused across different parts of your program or even other programs, saving development time and promoting consistency.

Q2  Explain the difference between mutable and immutable data types with examples.

Ans Anything is said to be mutable when anything can be modified or changed. The term "mutable" in Python refers to an object's capacity to modify its values. These are frequently the things that hold a data collection.Eg.lists,dictionaries,sets

Whereas,immutable refers to a state in which no change can occur over time. A Python object is referred to as immutable if we cannot change its value over time. The value of these Python objects is fixed once they are made.Eg.Numbers,tuples,strings,frozen sets

Q3 E What are the main differences between lists and tuples in Python?

Ans

Lists

1 Lists are mutable

2	The implication of iterations is Time-consuming

3	The list is better for performing operations, such as insertion and deletion.

4	Lists consume more memory

5	Unexpected changes and errors are more likely to occur

Tuples

1 Tuples are immutable    

2 The implication of iterations is comparatively Faster

3 Tuple data type is appropriate for accessing the elements

4 Tuple consumes less memory as compared to the list

5 Because tuples don’t change they are far less error-prone.

Q4 Describe how dictionaries store data.

Ans Dictionaries are a built-in data type in Python that allow you to store data as key-value pairs. They are similar to lists in that they can store multiple values, but unlike lists, they are not ordered and do not use integer indices. Instead, they use keys, which can be any immutable data type (such as strings, integers, or tuples). This makes dictionaries very useful for storing and accessing data quickly, especially when the data has some logical connection or meaning.

Q5 Why might you use a set instead of a list in Python?

Ans Set represents a collection of distinct elements.For faster operation and if we have a large collection of elements and if we wish to perform membership test, in that case it is appropriate to use set instead of a list.

Q6 What is a string in Python, and how is it different from a list?

Ans Python string methods is a collection of in-built Python functions that operates on lists

Difference btw string and list:


1. Strings can only consist of characters, while lists can contain any data type.

2. We cannot easily make a list into a string, but we can make a string into a list of characters, simply by using the list() function.

3. We add to a string, using + concatenation operator to do so. With a list, we use the .append() method to add elements

4. Strings are immutable, meaning that we cannot update them. We could update values in a list however quite easily.

  Q7 How do tuples ensure data integrity in Python?

  Ans  Immutability makes tuples an ideal choice for situations where you want to ensure that the data remains constant throughout your program’s execution.
  Tuples provide data integrity and ensure that the contents remain constant throughout the program's execution.

Q8  What is a hash table, and how does it relate to dictionaries in Python?

Ans A Hash table is defined as a data structure used to insert, look up, and remove key-value pairs quickly. It operates on the hashing concept, where each key is translated by a hash function into a distinct index in an array.

They are related to dictionaries as:

-Both structures store data in key-value pairs, where each key is unique.

-Both are designed to allow for quick data retrieval. Hash tables achieve this through hashing, and Python dictionaries are optimized for quick lookup by using a similar hashing mechanism.

-Many implementations of hash tables and
Python dictionaries resize dynamically. This resizing is crucial to maintain operations’ efficiency as the number of elements grows.

Q9 Can lists contain different data types in Python?

Ans Yes,Python's versatility extends to its ability to handle lists with mixed data types.

Q10  Explain why strings are immutable in Python.

Ans Immutability is very important in Python, as it helps in data safety and interpreter performance. The string data type is very common in Python programs hence they are immutable.

Q11 What advantages do dictionaries offer over lists for certain tasks?

Ans A dictionary has several advantages over a list especially in python. Dictionarys have two parts to every entry the key and the value and these are stored as pairs. This can give you more flexibility when storing data. The primary advantage would be retrieving stored values as it is much simpler to search through a dictionary.If the data your trying to store is identifiable so the data can be attributed to name name or item this might be a preferable system. One example would be storing the age of school students. You could store the age and name as a value and key pair. This would allow you to sort the dictionary for a particular student and retrieve their age. To do this with lists you would require two lists to search through or a very complicated indexing systems.

Q12  Describe a scenario where using a tuple would be preferable over a list.

Ans Using a tuple is preferable over a list when you need an immutable collection of items, where the values are fixed and should not change during the program's execution. This immutability provides clarity about the intention of the data and can improve performance, especially when dealing with a large amount of data.

Q13 How do sets handle duplicate values in Python?

Ans Python offers the built-in set data structure, which inherently handles duplicates by design. Sets in Python not only help manage duplicate elements but also bring clear performance benefits in certain operations like membership testing and set arithmetic.

Q14 How does the “in” keyword work differently for lists and dictionaries?

Ans "in" works differently for list and dictionaries as:

Lists:

-Checks for elements

-Works directly on values



Dictionaries:

-Checks for keys

-Must explicitly use .values() for values

Q15 Can you modify the elements of a tuple? Explain why or why not?

Ans We cannot change the elements of a tuple because elements of tuple are immutable. However we can change the elements of nested items that are mutable.

Q16 What is a nested dictionary, and give an example of its use case?

Ans A nested dictionary is a dictionary inside a dictionary. It's a collection of dictionaries into one single dictionary. Eg:

In [1]:
people = {1: {'name': 'John', 'age': '27', 'sex': 'Male'},
          2: {'name': 'Marie', 'age': '22', 'sex': 'Female'}}

print(people)

{1: {'name': 'John', 'age': '27', 'sex': 'Male'}, 2: {'name': 'Marie', 'age': '22', 'sex': 'Female'}}

Q17 Describe the time complexity of accessing elements in a dictionary.

Ans The time complexity of accessing a dictionary in Python 3 is generally considered to be constant time. This means that regardless of the size of the dictionary, the time it takes to access a value remains constant. However, this assumes that the hash function used by Python is well-distributed and avoids collisions as much as possible.

Q18  In what situations are lists preferred over dictionaries.

Ans Situations where sequential or indexed access needed, data contains duplicates, simple collection of items, adding elements frequently, key-value relationships are irrelevant, fast lookups by a key are unnecessary in these cases lists are preferred over dictionaries.

Q19 Why are dictionaries considered unordered, and how does that affect data retrieval?

Ans Dictionary is termed as an unordered collection of object because the printed order of elements is not same as the order in which the elements are stored.

When dictionaries are unordered, data retrieval via iteration does not follow a predictable order, which can lead to inconsistent behavior in algorithms requiring a specific order. However, key lookups remain unaffected because dictionaries use hash tables for fast access.Hence dictionaries preserve insertion order, eliminating this issue.

Q20 Explain the difference between a list and a dictionary in terms of data retrieval.

Ans In list it retrieves elements by index (position).Whereas in dictionary it retrieves elements by key (name or identifier).

#Practical question-answers

Q1 Write a code to create a string with your name and print it.

Ans

In [3]:
# Create a string with my name
name = "Shruti"

# Print the string
print(name)

Shruti

Q2 Write a code to find the length of the string "Hello World".

Ans

In [4]:
# Define the string
my_string = "Hello World"

# Find the length of the string
length = len(my_string)

# Print the length
print("The length of the string is:", length)

The length of the string is: 11

Q3 Write a code to slice the first 3 characters from the string "Python Programming".

Ans

In [5]:
# Define the string
my_string = "Python Programming"

# Slice the first 3 characters
first_three = my_string[:3]

# Print the result
print("The first 3 characters are:", first_three)

The first 3 characters are: Pyt

Q4 Write a code to convert the string "hello" to uppercase.

Ans

In [6]:
# Define the string
my_string = "hello"

# Convert to uppercase
uppercase_string = my_string.upper()

# Print the result
print("Uppercase string:", uppercase_string)

Uppercase string: HELLO

Q5 Write a code to replace the word "apple" with "orange" in the string "I like apple".

Ans

In [7]:
# Define the string
my_string = "I like apple"

# Replace "apple" with "orange"
modified_string = my_string.replace("apple", "orange")

# Print the result
print(modified_string)

I like orange

Q6 Write a code to create a list with numbers 1 to 5 and print it.

Ans

In [8]:
# Create a list with numbers 1 to 5
my_list = [1, 2, 3, 4, 5]

# Print the list
print(my_list)

[1, 2, 3, 4, 5]

Q7 Write a code to append the number 10 to the list [1, 2, 3, 4].

Ans

In [9]:
# Define the list
my_list = [1, 2, 3, 4]

# Append 10 to the list
my_list.append(10)

# Print the updated list
print(my_list)

[1, 2, 3, 4, 10]

Q8 Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

Ans

In [10]:
# Define the list
my_list = [1, 2, 3, 4, 5]

# Remove the number 3 from the list
my_list.remove(3)

# Print the updated list
print(my_list)

[1, 2, 4, 5]

Q9 Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

Ans

In [11]:
# Define the list
my_list = ['a', 'b', 'c', 'd']

# Access the second element (index 1)
second_element = my_list[1]

# Print the second element
print(second_element)

b

Q10 Write a code to reverse the list [10, 20, 30, 40, 50].

Ans

In [12]:
# Define the list
my_list = [10, 20, 30, 40, 50]

# Reverse the list
my_list.reverse()

# Print the reversed list
print(my_list)

[50, 40, 30, 20, 10]

Q11 Write a code to create a tuple with the elements 10, 20, 30 and print it.

Ans

In [13]:
# Create the tuple
my_tuple = (10, 20, 30)

# Print the tuple
print(my_tuple)

(10, 20, 30)

Q12  Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').

Ans

In [14]:
# Define the tuple
my_tuple = ('apple', 'banana', 'cherry')

# Access the first element (index 0)
first_element = my_tuple[0]

# Print the first element
print(first_element)

apple

Q13 13. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).

Ans

In [15]:
# Define the tuple
my_tuple = (1, 2, 3, 2, 4, 2)

# Count how many times the number 2 appears
count_of_2 = my_tuple.count(2)

# Print the result
print("The number 2 appears", count_of_2, "times.")

The number 2 appears 3 times.

Q14 Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

Ans

In [16]:
# Define the tuple
my_tuple = ('dog', 'cat', 'rabbit')

# Find the index of the element "cat"
index_of_cat = my_tuple.index('cat')

# Print the index
print("The index of 'cat' is:", index_of_cat)

The index of 'cat' is: 1

Q15  Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').

Ans

In [17]:
# Define the tuple
my_tuple = ('apple', 'orange', 'banana')

# Check if "banana" is in the tuple
if "banana" in my_tuple:
    print("Yes, 'banana' is in the tuple.")
else:
    print("No, 'banana' is not in the tuple.")

Yes, 'banana' is in the tuple.

Q16 Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.

Ans

In [18]:
# Create the set
my_set = {1, 2, 3, 4, 5}

# Print the set
print(my_set)

{1, 2, 3, 4, 5}

Q17 Write a code to add the element 6 to the set {1, 2, 3, 4}.

Ans

In [19]:
# Define the set
my_set = {1, 2, 3, 4}

# Add the element 6 to the set
my_set.add(6)

# Print the updated set
print(my_set)

{1, 2, 3, 4, 6}

Q18 Write a code to create a tuple with the elements 10, 20, 30 and print it.

Ans

In [20]:
# Create the tuple
my_tuple = (10, 20, 30)

# Print the tuple
print(my_tuple)

(10, 20, 30)

Q19  Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').

Ans

In [21]:
# Define the tuple
my_tuple = ('apple', 'banana', 'cherry')

# Access the first element (index 0)
first_element = my_tuple[0]

# Print the first element
print(first_element)

apple

Q20 Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).

Ans

In [22]:
# Define the tuple
my_tuple = (1, 2, 3, 2, 4, 2)

# Count how many times the number 2 appears
count_of_2 = my_tuple.count(2)

# Print the result
print("The number 2 appears", count_of_2, "times.")

The number 2 appears 3 times.

Q21 Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

Ans

In [23]:
# Define the tuple
my_tuple = ('dog', 'cat', 'rabbit')

# Find the index of the element "cat"
index_of_cat = my_tuple.index('cat')

# Print the index
print("The index of 'cat' is:", index_of_cat)

The index of 'cat' is: 1

Q22 Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').

Ans

In [24]:
# Define the tuple
my_tuple = ('apple', 'orange', 'banana')

# Check if "banana" is in the tuple
if "banana" in my_tuple:
    print("Yes, 'banana' is in the tuple.")
else:
    print("No, 'banana' is not in the tuple.")

Yes, 'banana' is in the tuple.

Q23 Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.

Ans

In [25]:
# Create the set
my_set = {1, 2, 3, 4, 5}

# Print the set
print(my_set)

{1, 2, 3, 4, 5}

Q24 Write a code to add the element 6 to the set {1, 2, 3, 4}.

Ans

In [26]:
# Define the set
my_set = {1, 2, 3, 4}

# Add the element 6 to the set
my_set.add(6)

# Print the updated set
print(my_set)

{1, 2, 3, 4, 6}